<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
</head>
<nav class="sidebar">
  <div class="sidebar-title">Main Navigation</div>

  <a href="{{ url_for('dashboard') }}" class="nav-button {% if current_page == 'dashboard' %}active{% endif %}">
    <i class="bi bi-layout-dashboard"></i>
    <span>My Reports</span>
  </a>

  <a href="{{ url_for('submit_report') }}" class="nav-button {% if current_page=='submit_report' %}active{% endif %}">
    <i class="bi bi-file-earmark-plus"></i> Submit Report
  </a>


  <a href="{{ url_for('reports') }}" class="nav-button {% if current_page == 'reports' %}active{% endif %}">
    <i class="bi bi-bar-chart-2"></i>
    <span>All Reports</span>
  </a>

  </a>
</nav>
